#INVISIBLE REDIRECT

# remove www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [NE,R=301,L]

RewriteCond %{HTTP_HOST} ^(www\.)?qr.expressionway\.com$
RewriteRule !^qrcode/ /qrcode%{REQUEST_URI}  [L]